* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
  color: rgb(0, 0, 0);
}

body {
  display: flex;
  flex-direction: row;
}

#forms {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  /*não era possível se ver os cantos arrendondados, então aplicou -se os códigos a  seguir para que fosse possível*/
  z-index: 1;
  /* adiciona para que fique sobre o banner */
  overflow: hidden;
  /* importante para que cantos arredondados não sejam cortados */
}


body.pagina-login .login-container {
  margin-top: 5vh;
}


#forms h2 {
  font-weight: 900;
  color: #01303F;
}

/* Layout banner lateral */
#forms-banner {
  background-color: #01303F;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
  /* importante para que cantos arredondados não sejam cortados */

}

#forms-banner h1 {
  color: white;
  font-size: 250%;
}

.fixed-logo {
  position: fixed;
  top: 2vh;
  right: 2vw;
  height: 12vh;
  width: auto;
  z-index: 1000;
}

/* Mostra apenas a logo desktop por padrão */
.desktop-logo {
  display: block;
}

.mobile-logo {
  display: none;
}

.line {
  width: 49.8vw;
  height: 0.6vh;
  border: solid 1px darkslategrey;
  margin-top: 0.5vh;
}

.white {
  margin-top: 2vh;
  background-color: azure;
}

.blue {
  background-color: cadetblue;
}

.light-blue {
  background-color: lightskyblue;
}

/* === INPUTS ESTILO LOGIN === */
.form-group {
  /*margin: 3vh auto 10px auto;*/
  position: relative;
  margin-top: 3vh;
  /**/
  width: 25vw;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #012f3f50;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.form-group img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: brightness(0) invert(0.5);
}

.form-group input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 0 5px 0;
  color: #01303F;
  z-index: 1;
}

.form-group label {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
  top: -10px;
  font-size: 0.75rem;
  color: #01303F;
}


.form-group input::placeholder { 
  opacity: 0; 
  transition: opacity .2s ease;
}
.form-group input:focus::placeholder { 
  opacity: .6;
}


/* === BOTÕES === */
#form-btn {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin-top: 2vh;
}

.btn-cadastro {
  height: 6vh;
  width: 9vw;
  border-radius: 16px;
  border: 2px solid #01303F;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn-cadastro:hover {
  transform: scale(1.03);
}

.proximo {
  background-color: white;
  color: #01303F;
}

.cadastrar {
  background-color: #01303F;
  color: white;
}

/* === ALERTA (Cadastro igual Login)!! */
.alerta {
  position: fixed;
  top: 8vh;
  left: 2%;
  transform: translateX(-50%);

  display: none;
  align-items: center;
  justify-content: flex-start;

  background-color: #ffffff;
  color: #000;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2;

  border: 1px solid #df808091;
  border-radius: 11px;
  padding: 0.8em 1em;
  width: 20vw;
  min-width: 250px;
  max-width: 90vw;
  height: auto;
  box-sizing: border-box;

  box-shadow: 0 4px 10px rgba(242 0 0 / 42%);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.alerta.mostrar {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}
.alerta.sucesso {
  border: 2px solid #28a745;
  box-shadow: 0 4px 10px rgba(40, 167, 69, 0.4);
}
.alerta-icone {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 8vh;
  height: 4.7vh;
  background-color: transparent;
}
.alerta-icone img {
  height: 6vh;
  width: auto;
}
.alerta-texto {
  font-weight: 600;
}
/* Ocultação de etapas */
#first-form,
#last-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  /*editar do  h2 do faça cadastro*/
  margin-left: 0vw;
}

#last-form {
  display: none;
}

/*página de redirecionamento: entrar.html*/

/* === BOTÕES DE OPÇÃO === */
.btn-entrar {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 25vw;
  height: 7vh;
  border-radius: 10px;
  border: solid 2px #01303F;
  font-size: 0.8rem;
  color: black;
  gap: 2vw;
  padding-left: 2vw;
  transition: transform 0.2s ease-in-out;
}

.btn-entrar:hover {
  transform: scale(1.03);
}

.opt-btn {
  height: 5vh;
  width: auto;
}

/* === ESTILOS RESPONSIVOS === */
/* === RESPONSIVO: abaixo de 991px === */
@media (max-width: 991px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centraliza verticalmente */
    align-items: center;
    /* centraliza horizontalmente */
    height: 100vh;
    /* ocupa toda a altura da tela */
    margin: 0;
  }

  /* Esconde o banner */
  #forms-banner {
    display: none;
  }

  /* Formulário com botões ocupa toda a largura disponível */
  #forms {
    width: 90%;
    height: auto;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }

  #forms h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #01303F;
  }

  body.pagina-entrar .btn-entrar {
    width: 60%;
  }

  /*.btn-entrar {
        width: 60vw;
        max-width: 300px;
        height: 7vh;
        font-size: 1rem;
        gap: 1vw;
        padding-left: 2vw;
    }*/

  /* === TROCA DE LOGO === */
  .desktop-logo {
    display: none !important;
  }

  .mobile-logo {
    display: block !important;
    height: 10vh;
    /* ajuste opcional de tamanho */
    top: 1vh;
    /* leve ajuste de posição */
    right: 1vw;
  }

  /*botoes  do cadastro*/
  #form-btn {
    /*flex-direction: column;  /* botões um embaixo do outro */
    gap: 2vh;
    align-items: center;
  }

  .btn-cadastro {
    width: 60%;
    /* ocupa 60% da largura do container */
    max-width: 250px;
    /* limita a largura máxima */
    height: 50px;
    /* altura menor para telas menores */
    padding: 0.8em 1em;
    ;
  }

}




/* === Responsividade para telas pequenas === */
@media (max-width: 768px) {
  .alerta {
    /*  margin-top: 10vw;*/
    gap: 1vw;
    top: 5vh;
    width: 20vw;
    font-size: 0.85rem;
    padding: 0.6em 0.8em;
    left: 3%;
    box-shadow: 0 4px 10px rgba(243, 38, 38, 0.42);
  }

  .alerta-icone {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    margin-left: 0;
  }

  .alerta-icone img {
    height: 4.8vh;
    width: auto;
  }

  .alerta-texto {
    font-size: 0.85rem;
  }

  /*responsividade cadastro*/


  .bemVindo {
    display: none;
  }

  .login-container {
    width: 100%;
    height: auto;
    padding: 5vh 5vw;
    /* mais confortável */
  }

  .form-group {
    width: 90%;
    margin: 2vh auto;
  }

  button {
    width: 60%;
    max-width: 200px;
  }


}



