*{
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: transparent;
  padding-right: 3vw;
}

body{
  background-color: #01303F;
}

#nav-options{
  display: flex;
  gap: 1vw;
  color: white;
}

#nav-options h4{
  font-weight: 700;
}

#nav-bar img{
  height: 100px;
  width: 250px;
}

#nav-bar button{
  background-color: white;
  border-color: inherit;
  width: 6.5vw;
  height:4vh;
  border-radius: 16px;
  font-weight: 700;
  text-align: center;
  font-size: 0.8rem;
}