*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto Serif', serif;
    color: white;
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

button:hover{
  transform: scale(1.05);

}

#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #01303F;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  padding-top:2vh;
}

a {
  all: inherit;
}


body{
  background-color: #01303F;
}

#nav-options{
  display: flex;
  gap: 2vw;
  color: white;
  align-self: center;
  justify-self: center;
}

#nav-options h4{
  font-weight: 700;
  border-bottom: 1px solid transparent; /* Mantém espaço reservado */
  transition: border-color 0.3s ease; 
}

#nav-options h4:hover {
    border-bottom-color:white;
  }


#nav-bar img{
  height: 12vh;
  width: auto;
}

#nav-bar button{
  background-color: white;
  border-color: inherit;
  width: 6.5vw;
  height:4vh;
  border-radius: 16px;
  font-weight: 700;
  text-align: center;
  font-size: 0.8rem;
  color: black;
  margin-right: 2vw;
}

.layer-page{ 
  width: 85vw;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.solucao{
  padding-top: 10vh;
  background-color: white;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-left: 0;
  gap: 5vh;
  padding-bottom:10vh ;
}

#sobre{
  background-color: #01303F;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: row;

}

.solucao h5{
  color: #01303F;
}

.solucao h1{
  color: black;
}

.solucoes-title{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.landing-text{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
}
.landing-text h1{
 text-align: left;
  width: 65%;
}

.landing-text button{
  background-color: white;
  border-color: inherit;
  width: 17vw;
  height:4vh;
  border-radius: 16px;
  font-weight: 700;
  text-align: center;
  font-size: 0.8rem;
  color: black;
}

#landing-image img{
  border-radius: 1000px;
  width: 28vw;
  height: 28vw;
}

#first-elipse{
  border-radius: 1000px;
  width: 28vw;
  height: 28vw;
  background-color: transparent;
  border: 1px white solid;
  padding: 20px;
}

#second-elipse{
  border-radius: 1000px;
  width: 33vw;
  height: 33vw;
  background-color: transparent;
  border: 1px white solid;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button img{
  width: 3.5vw;
  height: 3.5vh;
  margin-left: -1.5vw ;
}

.box{
  width: 18vw;
  height: 15vw;
  border-radius: 16px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  padding: 0.8em;
}

.box h4{
  color: black;
  text-align: left;
  display: flex;
  align-self: flex-start;
  font-weight: 500;
}

.box p{
  color: black;
  text-align: left;
  font-size: 0.80rem;
}

.box b{
  color: black;
}

.box-row{
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.sphere{
  background-color: white;
  width: 4vw;
  height: 8vh;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 4.5vh;
}

.blue{
  background-color: #01303F;
}

.solucao-img{
  width: 2vw;
  height: 4vh;
}

